@import './vars.css';

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;
}

.buttonContainer button {
    background-color: var(--theme-color);
    box-shadow: 0px 4px 0.5rem rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 0.75rem 1.75rem;
    font-size: 1rem;
    color: var(--white-text-color);
    border: solid var(--theme-secondary) 1px;
}