.title {
    margin: 0 0 1rem 0;
    font-weight: 300;
    line-height: 2.75rem;
    font-size: 2.25rem;
}

.subtitle{
    margin: 0;
    font-weight: 300;
}

.header {
    margin-top: 4rem;
}

.subtitle strong {
    font-weight: 600;
}