@import './vars.css';

.tab > img {
    height: 1.5rem;
    width: 1.5rem;
}

.navbar {
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: var(--nav-bar-height);

    /* Nav */
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    border-radius: 12px 12px 0px 0px;
}

.tab {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 0.5rem 1rem 0.25rem 1rem;

    color: var(--text-color);
    text-decoration: none;
}

.tab p {
    margin: 0.25rem 0 0 0;
    font-size: small;
}

.activatedLink {
    color: var(--theme-color);
}

.active {
    display: none;
}

.activatedLink .active {
    display: block;
}

.activatedLink .inactive {
    display: none;
}