@import './vars.css';

.ts_container {
    display: flex;
    flex-direction: row;

    background-color: var(--background-secondary-color);
    overflow: auto;

    border-radius: 8px;
    cursor: pointer;

    -ms-overflow-style: none;  /*IE, Edge*/
    scrollbar-width: none; /*Firefox*/
}

.ts_container::-webkit-scrollbar {
    display: none; /*Chrome, Safari, Opera*/
    width: 0px;
} 

.ts_timeslot {
    padding: 8px 8px 8px 8px;
}

.ts_normal {
    color: var(--text-color);
    border-right: 1px solid var(--background-color);
    
}

.ts_selected {
    background-color: var(--theme-color);
    color: var(--white-text-color);
}

/* .ts_onBoundary {
    font-weight: 600;
} */

/* .ts_onLowBoundary {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
} */

.ts_onHighBoundary {
    /* border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; */
    border-right: 1px solid var(--background-color);
}