:root {
    --background-color: white;
    --background-secondary-color: #EBEDEF;
    --text-color: #222222;
    --sub-text-color: #666666;
    --white-text-color: #F3F5F7;
    --theme-color: #DC2314;
    --theme-secondary-color: #ffc6c6;
    --nav-bar-height: 3.75rem;
}