:root {
    --background-color: #FBFBFB;
    --background-secondary-color: #F3F5F7;
    --text-color: #222222;
    --sub-text-color: #666666;
    --white-text-color: #F3F5F7;
    --theme-color: #DC2314;
    --theme-secondary-color: #ffc6c6;
}